::root {
  --light_blue: #add8e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideIn {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

.btn-primary {
  background-color: black;
  border: none;
}

section {
  border: 2px solid red;
}

.box {
  height: 150px;
  border: 2px solid black;
}

.list--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
}

.dropdown-menu-custom {
  background-color: lightcoral;
  padding: 20px 80px;
  border-radius: 25px;
  transition: 300ms;
  margin-top: -280px;
  position: absolute;
}

.no-margin {
  margin-top: 300px;
}

.no-display {
  display: none;
}

.layout--container {
  max-width: 82.5rem;
  margin: 20px auto;
  border: 2px solid gold;
  min-height: 60vh;
  padding: 15px;
}

.layout--container div:nth-child(1) {
  border: 2px solid red;
  position: relative;
}
.layout--container div:nth-child(2) {
  border: 2px solid greenyellow;
  position: relative;
}
.layout--container div:nth-child(2):hover {
  animation: slideIn 3000ms infinite ease-in-out;
}

main {
  display: grid;
  height: 100vh;
  place-content: center;
}

#main--text {
  font-size: 10rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes zoomOut {
  from {
    transform: translateY(-1150px);
  }
  to {
    transform: translateY(3500px);
  }
}

#main--text {
  transition: 0.5s;
}

#smooth--wrapper {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

#smooth--content {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.box--new {
  width: 250px;
  height: 250px;
  border: 2px solid;
}
