::root {
  --light_blue: #add8e6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideIn {
  from {
    margin-top: -280px;
  }
  to {
    margin-top: 250px;
  }
}

.btn-primary {
  background-color: black;
  border: none;
}

section {
  border: 2px solid red;
}

.box {
  height: 150px;
  border: 2px solid black;
}

.list--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
}

.dropdown-menu-custom {
  background-color: lightcoral;
  padding: 20px 80px;
  border-radius: 25px;
  transition: 300ms;
  margin-top: -280px;
  position: absolute;
}

.no-margin {
  margin-top: 300px;
}

.no-display {
  display: none;
}

.layout--container{
  max-width: 82.5rem;
  margin: 20px auto;
  border: 2px solid gold;
  min-height: 60vh;
  padding: 15px;
}




.layout--container div:nth-child(1){
  border: 2px solid red;
  position: relative;
}
.layout--container div:nth-child(2){
  border: 2px solid greenyellow;
  position: relative;
}
