::root {
  --light_blue: #add8e6;
}

.btn-primary {
  background-color: black;
  border: none;
}

section {
  border: 2px solid red;
}

.box {
  width: 200px;
  height: 150px;
  border: 2px solid black;
}
